<div class="flex flex-col xl:flex-row min-h-screen justify-center px-4">
  <div class="w-full xl:w-94 p-0 z-1000 fixed top-0 left-0 h-full bg-black/50 transition-all duration-150
  sm:top-0 sm:p-4
  xl:block xl:sticky xl:top-30 xl:bg-transparent xl:transition-none" [class.hidden]="!isFilterOpen()"
       tabindex="0" (click)="closeFilter()" (keydown.enter)="closeFilter()" (keydown.space)="closeFilter()">
    <app-product-filter-sidebar class="w-full" [isXl]="isXl()" (click)="$event.stopPropagation()" (filterClose)="closeFilter()"/>
  </div>
  <app-product-list-view class="flex-1 xl:max-w-[1200px]" [isXl]="isXl()" [isMd]="isMd()" (filterOpen)="openFilter()"/>
</div>
