<div class="flex flex-col xl:flex-row min-h-screen justify-center px-4">
  @if (isXl() || (!isXl() && isFilterOpen())){
    <div class="w-full xl:w-94 p-4 z-1000" [ngClass]="{
      'fixed top-0 left-0 h-full bg-black/50': !isXl()
    }" tabindex="0" (click)="closeFilter()" (keydown.enter)="closeFilter()" (keydown.space)="closeFilter()">
      <app-product-filter-sidebar class="w-full" [isXl]="isXl()" (click)="$event.stopPropagation()"/>
    </div>
  }
  <app-product-list-view class="flex-1 xl:max-w-[1200px]" [isXl]="isXl()" (filterOpen)="openFilter()"/>
</div>
