<header>
  <div class="h-16 px-8 py- flex items-center justify-between w-full text-title-color fill-title-color">
    <a routerLink="/" class="flex flex-row items-center justify-center">
      <img src="/watch_%2351738B_icon.svg" alt="Logo" class="h-10 w-auto">
      <h1 class="font-semibold italic">Itemite</h1>
    </a>
    <div class="flex">
      <a routerLink="/login"><img src="/heart_%2351738B_icon.svg" alt="Favourites" class="h-10 w-auto"></a>
      <a routerLink="/login"><img src="/shopping_cat_%2351738B_icon.svg" alt="Checkout" class="h-10 w-auto"></a>
      <a routerLink="/login"><img src="/notification_%2351738B_icon.svg" alt="Notification" class="h-10 w-auto"></a>
      <a routerLink="/login"><img src="/profile_%2351738B_icon.svg" alt="Proile" class="h-10 w-auto"></a>
    </div>
  </div>
</header>
