
@if (showForgotPasswordForm()) {
  <app-forgot-password (onExit)="SwitchShowForgotPassword()"/>
}

<div class="m-auto relative flex p-5 flex-row items-center justify-around custom max-w-7xl ">

  <div class="flex-1 flex-col w-full h-full ">
    <input id="request_register" name="request_register" class="peer hidden" type="checkbox" [checked]="showRegisterForm()" />

    <!-- LOGIN PANEL -->
    <div
      [class.hidden] = showRegisterForm()
      class="flex flex-col items-center justify-center transition-all duration-500 ease-in-out w-full h-full min-h-[190px]
        origin-top
        peer-not-checked:opacity-100
        peer-not-checked:scale-y-full
        scaleIn
        peer-checked:scale-y-0
        peer-checked:opacity-0"
    >

      <form class="flex flex-col items-center justify-center sm:w-70 w-full max-w-70" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-scaled-text [text]="'login_register.login_title' | translate" [step]="-1" base="text-3xl" [maxGrowTimes]="1"/>
        <label for="emailL" class="w-full mt-10">
          <app-scaled-text text='Email' [step]="-1" base="text-sm" [maxGrowTimes]="2"/>
          @if(hasEmailErrors()) {
            <div class="text-(--destructive)"> {{emailErrors()[0]}} </div>
          }
        </label>
        <input class="w-full h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
               name="emailL" id="emailL" type="email" formControlName="email"
        />

        <label for="passwordL" class="w-full">
          <app-scaled-text [text]="'login_register.password' | translate" [step]="-1" base="text-sm" [maxGrowTimes]="2"/>
          @if(hasPasswordErrors()) {
            <div class="text-(--destructive)"> {{passwordErrors()[0]}} </div>
          }
        </label>
        <input class="w-full  h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
               name="passwordL" id="passwordL" type="password" formControlName="password"
        />

        <button type="submit"
                [disabled]="formHasErrors()"
                class="disabled:cursor-default disabled:bg-(--primary)/40 disabled:border-0
                relative cursor-pointer h-15 sm:h-10 mt-3 w-full rounded-md bg-(--primary) hover:bg-(--primary)/90 border-1 text-(--primary-foreground) border-(--ring) focus:border-(--ring) text-xl md:text-2xl" >
          {{ 'login_register.login' | translate }}
          @if(processing()) {
            <div class="absolute inset-0 flex items-center w-full justify-center">
              <app-loading-circle />
            </div>
          }
        </button>
      </form>
      <button class="sm:w-70 w-full max-w-70 cursor-pointer justify-center gap-2 h-15 sm:h-10 mt-3 rounded-md bg-destructive hover:bg-destructive/90 border-1 text-destructive-foreground border-(--ring) focus:border-(--ring) text-xl md:text-2xl items-center flex p-1" >
        {{ 'login_register.login_by' | translate }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 0 262 262" class="h-fit max-h-full max-w-fit bg-white rounded-full p-1" preserveAspectRatio="xMidYMid">
          <path d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027" fill="#4285F4"/><path d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1" fill="#34A853"/><path d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782" fill="#FBBC05"/><path d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251" fill="#EB4335"/>
        </svg>
      </button>
      <label for="request_register"
             class="mt-3 text-lg md:text-xl hover:text-primary whitespace-nowrap wrap-normal select-none underline cursor-pointer"
             (click)="SwitchShowRegister()">
        <app-scaled-text [text]="'login_register.ask_register' | translate" [step]="-1" base="text-xs" [maxGrowTimes]="1"/>
      </label>
      <a
        (click)="SwitchShowForgotPassword()"
        class="mt-3 text-md hover:text-primary whitespace-nowrap wrap-normal select-none underline cursor-pointer"
      >
        {{'login_register.forgot_password' | translate}}
      </a>
    </div>

    <!-- REGISTER PANEL -->
    <div
      [class.hidden] = !showRegisterForm()
      class="flex flex-col items-center justify-center transition-all duration-500 ease-in-out w-full h-full
      origin-top
      peer-not-checked:opacity-0
      peer-not-checked:scale-y-0
      scaleIn
      peer-checked:scale-y-full
      peer-checked:opacity-100"
    >
      <form class="flex flex-col items-center justify-center sm:w-80 w-full max-w-80" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <app-scaled-text [text]="'login_register.register_title' | translate" [step]="-1" base="text-2xl" [maxGrowTimes]="1"/>

        <label for="emailR" class="w-full mt-10">
          <app-scaled-text text='Email' [step]="-1" base="text-sm" [maxGrowTimes]="2"/>
          @if(hasEmailErrors()) { <div class="text-(--destructive)">{{emailErrors()[0]}}</div> }
        </label>

        <input class="w-full h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
               name="emailR" id="emailR" type="email" formControlName="email"
        />

        <label for="username" class="w-full mb-px">
          <app-scaled-text [text]="'login_register.username' | translate" [step]="-1" base="text-sm" [maxGrowTimes]="2"/>
          @if(hasUsernameErrors()) { <div class="text-(--destructive)">{{usernameErrors()[0]}}</div> }
        </label>
        <input class="w-full h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
               name="username" id="username" type="text" formControlName="username"
        />

        <label for="phoneNumber" class="w-full mb-px">
          <app-scaled-text [text]="'login_register.phone_number' | translate" [step]="-1" base="text-sm" [maxGrowTimes]="2"/>
          @if(hasPhoneErrors()) { <div class="text-(--destructive)">{{phoneErrors()[0]}}</div> }
        </label>
        <input class="w-full h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
               name="phoneNumber" id="phoneNumber" type="text" formControlName="phoneNumber"
        />

        <label for="passwordR" class="w-full">
          <app-scaled-text [text]="'login_register.password' | translate" [step]="-1" base="text-sm" [maxGrowTimes]="2"/>
          @if(hasPasswordErrors()) {
            <div class="text-(--destructive)"> {{passwordErrors()[0]}} </div>
          }
        </label>
        <input class="w-full h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
               name="passwordR" id="passwordR" type="password" formControlName="password"
        />
        <label for="repeatPassword" class="w-full">
          <app-scaled-text [text]="'login_register.repeat_password' | translate" [step]="-1"
                           base="text-sm" [maxGrowTimes]="2"/>
          @if(!repeatPassMatch()) {<div class="text-(--destructive)">{{"validator_errors.pass_match" | translate}}</div>}
        </label>
        <input class="w-full h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
               name="repeatPassword" id="repeatPassword" type="password" formControlName="repeatPassword"
        />

        <button [disabled]="formHasErrors()"
                type="submit"
                class="disabled:cursor-default disabled:bg-(--primary)/40 disabled:border-0
                enabled:cursor-pointer h-15 sm:h-10 mt-3 w-full rounded-md relative bg-(--primary) enabled:hover:bg-(--primary)/90 border-1 text-(--primary-foreground) border-(--ring) focus:border-(--ring) text-xl md:text-2xl" >
          {{ 'login_register.register' | translate }}
          @if(processing()) {
            <div class="absolute inset-0 flex items-center w-full justify-center">
              <app-loading-circle />
            </div>
          }
        </button>
      </form>
      <label class="mt-3 text-lg md:text-xl hover:text-primary whitespace-nowrap wrap-normal select-none underline cursor-pointer"
             for="request_register" (click)="SwitchShowRegister()">
        <app-scaled-text [text]="'login_register.ask_login' | translate" [step]="-1" base="text-xs" [maxGrowTimes]="1"/>
      </label>
    </div>
  </div>

  <div class="hidden xl:flex flex-1 flex-col justify-center items-center md:shrink overflow-hidden">
    <img alt="Person greeting"  class="max-w-full h-auto w-auto object-contain"
         src="https://www.uczmnie.pl/wp-content/uploads/2025/01/mateusz-chrobok-ekspert-ai-3.png" />
  </div>
</div>




