<div class="flex justify-center w-full p-4">
  <div class="flex flex-col w-full max-w-[1500px] justify-center mb-32 p-8 bg-card text-card-foreground border-border border-2 rounded-2xl shadow-2xl">
    <form class="flex flex-col gap-4">
      <h1 class="mb-4">Create Product</h1>
      <!-- Title -->
      <div class="flex flex-col gap-2 w-full">
        <label for="title" class="text-xl font-semibold ">Title</label>
        <input id="title" name="title" type="text"  required class="border rounded px-3 py-2">
      </div>
      <!-- Price -->
      <div class="flex flex-col gap-2 w-full">
        <label for="price" class="text-xl font-semibold">Price</label>
        <input id="price" name="price" type="number"  min="0" class="border rounded px-3 py-2">
      </div>
      <!-- Categories -->
      <div class="flex flex-row gap-8 w-full">
        <div class="flex flex-col gap-2 w-full">
          <label for="mainCategory" class="text-xl font-semibold">Main Category</label>
          <app-combo-box [items]="mainCategoriesOptions" [(selectedItem)]="selectedMainCategory" (selectedItemChange)="selectMainCategory($event)"/>
        </div>
        <div class="flex flex-col gap-2 w-full">
          <label for="mainCategory" class="text-xl font-semibold">Subcategory</label>
          <app-cascade-select [items]="subCategoriesOptions()" [(selectedItem)]="selectedSubCategory" (selectedItemChange)="selectSubCategory($event)"/>
        </div>
      </div>
      <div class="flex flex-row flex-wrap gap-8 w-full">
        <!-- Negotiable -->
        <div class="flex items-center gap-2">
          <input id="negotiable" name="negotiable" type="checkbox"  class="w-4 h-4">
          <label for="negotiable" class="font-semibold">Negotiable</label>
        </div>
        <!-- Active -->
        <div class="flex items-center gap-2">
          <input id="active" name="active" type="checkbox"  checked class="w-4 h-4">
          <label for="active" class="font-semibold">Active</label>
        </div>
      </div>
      <!-- Localization -->
      <div class="flex flex-col gap-2 w-full">
        <label for="localization" class="text-xl font-semibold">Localization</label>
        <input id="localization" name="localization" type="text"  placeholder="City, State, Country" class="border rounded px-3 py-2">
      </div>
      <!-- Images -->
      <div class="flex flex-col gap-2 w-full">
        <label for="images" class="text-xl font-semibold">Images</label>
        <input id="images" name="images" type="file"  multiple class="border rounded px-3 py-2">
      </div>

      <!-- Description -->
      <div class="flex flex-col gap-2 w-full">
        <label for="description" class="text-xl font-semibold">Description</label>
        <textarea id="description" name="description"  rows="5" class="border rounded px-3 py-2"></textarea>
      </div>

      <!-- Actions -->
      <div class="flex flex-row w-full justify-between gap-8">
        <app-button type="button" severity="accent" variant="outlined" label="Cancel"/>
        <app-button type="submit" label="Create"/>
      </div>
    </form>
  </div>
</div>
