@if(formType()){
  <div class="flex justify-center w-full p-4">
    <div class="flex flex-col w-full max-w-[1500px] justify-center mb-32 p-8 bg-card text-card-foreground border-border border-2 rounded-2xl shadow-2xl">
      @if (formType() === LISTING_TYPES.PRODUCT) {
        <app-product-general-form [product]="product"/>
      }
      @else if (formType() === LISTING_TYPES.AUCTION) {
        <app-auction-form />
      }
    </div>
  </div>
}
@else{
  <div class="flex justify-center py-16  w-full">
    <h2>{{ 'product-form.error_url_listing_type' | translate }}</h2>
  </div>
}
