<div class="flex flex-col border-1 rounded-2xl w-full h-96 p-4">
  @if (isXl()) {
    <h2 class="mb-4">{{ product()?.name  }}</h2>
  }
  <div class="flex flex-col md:flex-row md:items-center h-full overflow-hidden">
    <img [ngSrc]="product()?.image || 'assets/laptop_chromebook_icon.svg'" [alt]="product()?.name" class="w-full h-[60%] md:w-1/2 md:h-auto self-start md:self-auto object-contain flex-shrink-0" width="1" height="1">
    <div class="flex flex-col md:gap-2 md:px-8">
      @if (!isXl()) {
        <p class="text-2xl">{{ product()?.name }}</p>
      }
      <div class="flex flex-row md:flex-col">
        <p class="text-lg md:text-2xl">Bidders number</p>
        <p class="text-lg block md:hidden">:</p>
        <p class="text-lg md:text-2xl px-2 md:px-4">{{ product()?.biddersNumber }}</p>
      </div>
      <div class="flex flex-row md:flex-col">
        <p class="text-lg md:text-2xl">Current price</p>
        <p class="text-lg block md:hidden">:</p>
        <p class="text-lg md:text-2xl px-2 md:px-4">{{ product()?.highestPrice }}</p>
      </div>
      <div class="flex flex-row md:flex-col">
        <p class="text-lg md:text-2xl">Auction end date</p>
        <p class="text-lg block md:hidden">:</p>
        <p class="text-lg md:text-2xl px-2 md:px-4">{{ product()?.endDate }}</p>
      </div>
    </div>
  </div>
</div>
