<div class="flex flex-col gap-4 w-full">
  <div class="flex flex-row">
    <app-button label="Edit order" (clickButton)="toggleEditOrder()" [disabled]="isDisabled()"/>
  </div>
  <div class="images-container flex flex-row gap-4 flex-wrap w-full" cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)" cdkDropList>
    @for(image of images(); track image.imageId){
      <div class="image" [class.editable]="isEditOrder()"
           [cdkDragDisabled]="!isEditOrder()" cdkDrag
           (click)="!isEditOrder() && openDialog(image)"
           tabindex="0" (keyup.enter)="!isEditOrder() && openDialog(image)">
        <div class="image-placeholder" *cdkDragPlaceholder></div>
        <img [src]="image?.imageUrl ?? ''" [alt]="image.imageOrder" class="w-full h-full object-cover select-none" draggable="false">
      </div>
    }
    @if(!isEditOrder() && !isDisabled()){
      <button type="button" class="flex justify-center items-center border-border border-2 w-32 h-32 rounded-2xl bg-background cursor-pointer" (click)="openFileUpload()">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px"
             viewBox="0 -960 960 960" width="48px" fill="#1f1f1f">
          <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        </svg>
      </button>
    } @else {
      @if(!images().length){
        <p>There are no images!</p>
      }
    }
  </div>
</div>
@if(isOpenDialog()){
  <app-dialog (closed)="closeDialog()">
    <div class="flex flex-col justify-center h-full w-full">
      <div class="flex items-center justify-center w-full h-full overflow-hidden">
        <img [src]="selectedImage()?.imageUrl ?? ''"
             [alt]="selectedImage()?.imageUrl ?? 'Image preview'"
             class="object-contain max-w-full max-h-full">
      </div>
      <div class="flex flex-wrap justify-between gap-2 flex-row p-4 w-full h-fit">
        <app-button (clickButton)="closeDialog()" label="Close" severity="accent" variant="outlined"/>
        <div class="flex gap-2">
          <app-button (clickButton)="deleteSelectedImage()" label="Delete" severity="danger"/>
          <app-button (clickButton)="openEditFileUpload()" label="Edit" severity="primary"/>
        </div>
      </div>
    </div>
  </app-dialog>
} @else if (isEditItem()){
  <app-file-upload [supportsPreview]="true" (onCancelClicked)="editFileUploadCancel()" (onConfirmClicked)="editFileUploadConfirm($event)"/>
} @else if(isOpenFileUpload()){
  <app-file-upload [supportsPreview]="true" (onCancelClicked)="fileUploadCancel()" (onConfirmClicked)="fileUploadConfirm($event)"/>
}

