
<input
  class="hidden"
  type="checkbox" [checked]="showMessagesOnly()"
/>
<div #scrollContainer
  class="h-full w-full m-0 bg-card grid
  sm:grid-cols-[min(calc(100*var(--spacing)),30vw)_2fr]
  grid-rows-[1fr]
  grid-cols-[100vw_100vw]
  snap-mandatory
  snap-x
  overflow-x-auto
"
>
  <div class="snap-start shadow-inner relative">
    <!-- left/right navigation arrows -->
    @if (hasManyPages()) {
      <div class="flex h-8 flex-row ml-2 mr-2 mt-2 items-center">
        <button (click)="ChangePageLeft()" [disabled]="loading()"
          class="disabled:cursor-no-drop
          enabled:hover:cursor-pointer enabled:hover:text-secondary flex-1 min-h-full text-center flex items-center justify-center"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
               class="size-6">
            <path fill-rule="evenodd" d="M7.28 7.72a.75.75 0 0 1 0 1.06l-2.47 2.47H21a.75.75 0 0 1 0 1.5H4.81l2.47 2.47a.75.75 0 1 1-1.06 1.06l-3.75-3.75a.75.75 0 0 1 0-1.06l3.75-3.75a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
        </button>
        <p> {{currentPage()}}/{{totalPages()}} </p>
        <button (click)="ChangePageRight()" [disabled]="loading()"
          class="disabled:cursor-no-drop
          enabled:hover:cursor-pointer enabled:hover:text-secondary flex-1 min-h-full text-center flex items-center justify-center"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
               class="size-6">
            <path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    }

    @if (loading()) {
      <div class="absolute inset-0 flex items-center w-full justify-center">
        <app-loading-circle />
      </div>
    } @else {
      <div class="overflow-y-auto">
        @for (chatInfo of chatList(); track $index) {
          <app-chat-preview-card
            [index]="$index"
            [isArchived]="chatInfo.listing.isArchived"
            [listingName]="chatInfo.listing.name"
            [mainImageUrl]="chatInfo.listing.mainImageUrl"
            [price]="chatInfo.listing.price"
            [selected]="$index === selected()"
            [lastMessage]='chatInfo.lastMessage.content === "User deleted the message" ? ("chat.deleted_message" | translate) : chatInfo.lastMessage.content'
            [dateSent]="chatInfo.lastMessage.dateSent.toString()"
            [lastMessageAuthor]="chatInfo.lastMessage.userName"
            [unreadMessages]="chatInfo.unreadMessagesCount"
            (onChatClicked)="OnCardClicked($index)"
          />
        }
      </div>
    }
  </div>

  @if(!selectedListingId() || !selectedMembers()) {
    <div class="w-1/2 h-1/2 m-auto shrink items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.5"
           stroke="currentColor"
           class="size-6 w-full shrink h-full text-foreground/10">
        <path
          stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
        />
      </svg>
    </div>
  } @else {
    <app-chat #chatComp
      class="snap-start min-h-full"
      [chatMembers]="selectedMembers()!"
      [listingId]="selectedListingId()!"
      (updateLastMessageByDeletion)="UpdateLastMessageByDeletion($event)"
      (updateLastMessageByEdition)="UpdateLastMessage($event, 'edition')"
      (updateLastMessageBySending)="UpdateLastMessage($event, 'new')"
      (onListingLoaded)="OnChatLoaded(chatComp)"
    />
  }
</div>
