<div
  class="inset-0 flex flex-col m-auto items-center justify-center z-1000
fixed w-full max-w-[1920px] h-full bg-background/50 backdrop-grayscale-100 backdrop-blur-xs">
  <div class="flex max-w-[90%] flex-col m-auto bg-card text-card-foreground rounded-sm shadow-xl p-4">
    <h3>{{prompt()}}</h3>
    <div class="flex justify-between gap-10 flex-row mt-4">
      <app-button [label]="'controls.cancel' | translate" (clickButton)="OnCancelClicked()" severity="accent" variant="outlined"/>
      <app-button [label]="'controls.confirm' | translate" (clickButton)="OnConfirmClicked()"/>
    </div>
  </div>
</div>
