<div class="flex m-auto flex-col max-w-7xl w-full py-4 px-8 gap-4">
  <h1>Admin Panel</h1>
  <div class="flex flex-wrap justify-center gap-4">
    <app-button class="button-control min-w-fit w-full sm:w-[calc(50%-1rem)] lg:w-[calc(33.333%-1rem)]" routerLink="/admin-panel/user-control" label="Users"/>
    <app-button class="button-control min-w-fit w-full sm:w-[calc(50%-1rem)] lg:w-[calc(33.333%-1rem)]" routerLink="/admin-panel/category-control" label="Categories"/>
    <app-button class="button-control min-w-fit w-full sm:w-[calc(50%-1rem)] lg:w-[calc(33.333%-1rem)]" routerLink="/admin-panel/report-control" label="Raports"/>
    <app-button class="button-control min-w-fit w-full sm:w-[calc(50%-1rem)] lg:w-[calc(33.333%-1rem)]" routerLink="/admin-panel/payment-control" label="Payments"/>
    <app-button class="button-control min-w-fit w-full sm:w-[calc(50%-1rem)] lg:w-[calc(33.333%-1rem)]" routerLink="/admin-panel/banner-control" label="Banners"/>
  </div>
</div>
