@if(previewImage()) {
  <app-image-preview
    [image]="imagePreview()"
    (onExitClicked)="CloseImagePreview()"
  />
}

<div class="flex flex-col p-2 max-w-full w-3xl ml-auto mr-auto mt-4 mb-4 bg-card ring-2 ring-accent rounded-md">
  <div class="flex flex-col relative items-center w-full">
    @if (loading()) {
      <div class="absolute z-1 inset-0 flex items-center w-full h-full justify-center bg-background/50">
        <app-loading-circle />
      </div>
    }

    <div class="flex flex-row items-center w-full mb-5 mt-1">
      <app-combo-box
        [items]="comboboxOptionItems()"
        [selectedItem]="comboboxOptionItems()[0]"
        (selectedItemChange)="ChangeResourceType($event)"
      />

      <div class="flex flex-1 flex-row items-center">
        <button [disabled]="currentPage() <= 1"
                (click)="PreviousPage()"
                class="enabled:hover:cursor-pointer enabled:hover:text-primary
            flex-1 text-center flex items-center justify-center disabled:text-accent"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
            <path fill-rule="evenodd" d="M7.28 7.72a.75.75 0 0 1 0 1.06l-2.47 2.47H21a.75.75 0 0 1 0 1.5H4.81l2.47 2.47a.75.75 0 1 1-1.06 1.06l-3.75-3.75a.75.75 0 0 1 0-1.06l3.75-3.75a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
        </button>

        <p class="font-bold"> {{currentPage()}}/{{totalPages()}} </p>
        <button [disabled]="currentPage() >= totalPages()"
                (click)="NextPage()"
                class="enabled:hover:cursor-pointer enabled:hover:text-primary
              flex-1 text-center flex items-center justify-center disabled:text-accent"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
            <path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>

    </div>

    <div class="w-full flex flex-col gap-8">
      @for (report of reports(); track report.id) {
        <app-report-card
          [content]="report.content"
          [createdAt]="report.createdAt"
          [imagesUrls]="report.imagesUrls"
          [reportSubmitter]="report.reportSubmitter"
          [reportedResource]="report.reportedResource"
          (onImageClicked)=" OpenImagePreview($event)"
        />
      }
    </div>
  </div>
</div>
