:host ::ng-deep .button-container{
  width: 100%;
}

:host ::ng-deep .carousel-button-icon {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 640px) {
  :host ::ng-deep .carousel-button-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
