<main class="flex flex-col w-full max-w-full p-4">
  <div class="w-full flex flex-row flex-wrap  items-center gap-4 border-b-1 py-4">
    <div class="flex flex-row flex-wrap items-center gap-4">
      <p>{{"sort_directions.header" | translate}}:</p>
      <app-combo-box [items]="sortDirectionOptions" [selectedItem]="sortDirection()" (selectedItemChange)="useSortDirection($event)">
        <ng-template let-item>
      <span>
        {{item?.value | translate}}
      </span>
        </ng-template>
      </app-combo-box>
    </div>
    <div class="flex flex-row flex-wrap items-center gap-4">
      <p>{{"sort_by.header" | translate}}:</p>
      <app-combo-box [items]="sortByOptions" [selectedItem]="sortBy()" (selectedItemChange)="useSortBy($event)">
        <ng-template let-item>
         <span>
          {{item?.value | translate}}
        </span>
        </ng-template>
      </app-combo-box>
    </div>
  </div>
  <div class="w-full flex justify-between items-center pt-4 xl:justify-end flex-wrap">
    @if (!isXl()){
      <app-button label="filters" (clickButton)="openFilter()"/>
    }
    @if(!loading() && totalPages() !== 0){
      <app-paginator [isBlocked]="isBlocked()" [pageNumber]="pageNumber() ?? 1" [totalPages]="totalPages()" (pageChange)="usePaginator($event)"/>
    }
  </div>
  @if(loading()){
    <div class="flex justify-center py-16 w-full">
      <app-loader/>
    </div>
  } @else if (totalPages() === 0){
    <div class="flex justify-center py-16  w-full">
      <h2>Can't find any article.</h2>
    </div>
  } @else {
    <div class="flex flex-col gap-4 w-full">
      @let data = listing();

      @if(data && data.items.length){
        @for (product of data.items; track product.id){
          <app-product-item [product]="product" [isMd]="isMd()"/>
        }
      }
    </div>
    <div class="w-full flex justify-end">
      <app-paginator [isBlocked]="isBlocked()" [pageNumber]="pageNumber()?? 1" [totalPages]="totalPages()" (pageChange)="usePaginator($event)"/>
    </div>
  }
</main>
