<div
  class="select-none p-1 inset-0 flex flex-col m-auto items-center justify-center z-10000
fixed w-full max-w-[1920px] h-full bg-background/50 backdrop-grayscale-100 backdrop-blur-xs">
  <div class="relative flex flex-col w-[80%] h-[80%] m-auto bg-card text-card-foreground rounded-sm shadow-xl p-4">
    <label
      for="file-upload"
      (drop)="OnFileChange($event)"
      class="flex flex-1 flex-col border-dashed border-2 rounded-sm items-center justify-center text-center overflow-hidden"
    >
      @if (!file()) {
        <p> {{'file_upload.upload_file' | translate}}</p>
      }
      <p class="font-bold">{{"file_upload.max_file_size_is" | translate}} {{maxSizeMB()}}MB</p>
      @if (file()) {
        @if (supportsPreview()) {
          <div class="flex flex-1 items-center justify-center w-full h-full overflow-hidden">
            <img
              [src]="preview()"
              class="object-contain max-w-full max-h-full"
              alt="preview"
            />
          </div>
        }
        <div class="flex flex-col mt-2 text-sm truncate w-full px-2">
          <p class="break-words">{{name()}}</p>
          <p class="break-words">{{"file_upload.file_size" | translate}}: {{size()}}</p>
          @if (fileSizeExceeded()) {
            <p class="break-words bg-destructive w-fit self-center text-destructive-foreground">
              {{"file_upload.file_size_too_big" | translate}}
            </p>
          }
        </div>
      }
    </label>

    <input
      id="file-upload"
      class="hidden"
      [accept]="acceptedFormats()"
      (change)="OnFileChange($event)"
      (drop)="OnFileChange($event)"
      type="file"
    />

    <!-- Buttons -->
    <div class="flex justify-around gap-10 flex-row mt-4 h-fit">
      <button type="button"
        (click)="OnCancelClicked()"
        class="hover:scale-105 transition-transform ease-in-out cursor-pointer
        bg-primary text-primary-foreground ring-2 shadow-md rounded-sm flex-1 shadow-input"
      >
        {{'controls.cancel' | translate}}
      </button>
      <button type="button" [disabled]="invalid()"
        (click)="OnConfirmClicked()"
        class="enabled:hover:scale-105 transition-transform ease-in-out enabled:cursor-pointer
        bg-secondary disabled:bg-secondary/50 text-secondary-foreground ring-2 shadow-md rounded-sm h-20 flex-1 shadow-input"
      >
        {{'controls.confirm' | translate}}
      </button>
    </div>
  </div>

</div>
