<div class="flex flex-col p-2 max-w-full w-7xl m-auto">
  <div class="flex flex-col items-center w-full">

    <!-- user search -->
    <form [formGroup]="userSearchForm" (ngSubmit)="OnSubmitUserSearch()"
          class="flex relative flex-row items-center"
    >
      @if (loadingUsers()) {
        <div class="absolute inset-0 flex items-center w-full justify-center">
          <app-loading-circle />
        </div>
      }
      <input class="h-12 sm:h-10 border-solid p-1 rounded-lg border-input text-muted-foreground focus:border-ring"
             name="query" id="query" type="search" formControlName="query"
      />

      <button type="submit" [disabled]="loadingUsers()" class="h-full flex flex-col items-center justify-center p-1 hover:text-primary hover:cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10 hover:text-primary">
          <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 15.75-2.489-2.489m0 0a3.375 3.375 0 1 0-4.773-4.773 3.375 3.375 0 0 0 4.774 4.774ZM21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </button>
    </form>

    <!-- user list -->
    @if (totalPagesOfUsers() > 1) {
      <div class="w-100 flex flex-row items-center">
        <button [disabled]="currentPageOfUsers() <= 1"
                (click)="PreviousUserPage()"
                class="enabled:hover:cursor-pointer enabled:hover:text-primary
              flex-1 text-center flex items-center justify-center disabled:text-accent"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
            <path fill-rule="evenodd" d="M7.28 7.72a.75.75 0 0 1 0 1.06l-2.47 2.47H21a.75.75 0 0 1 0 1.5H4.81l2.47 2.47a.75.75 0 1 1-1.06 1.06l-3.75-3.75a.75.75 0 0 1 0-1.06l3.75-3.75a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
        </button>

        <p class="font-bold"> {{currentPageOfUsers()}}/{{totalPagesOfUsers()}} </p>
        <button [disabled]="currentPageOfUsers() >= totalPagesOfUsers()"
                (click)="NextUsersPage()"
                class="enabled:hover:cursor-pointer enabled:hover:text-primary
                flex-1 text-center flex items-center justify-center disabled:text-accent"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
            <path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    }
    <div class="flex flex-col max-h-200 max-w-full overflow-y-auto gap-2 items-center box-border p-1">
      @for (user of users(); track user.id) {
        <app-user-control-card [user]="user" class="w-full flex justify-center flex-row"/>
      }
    </div>

    @if (totalPagesOfUsers() > 1 && users().length > 3) {
      <div class="w-100 flex flex-row items-center">
        <button [disabled]="currentPageOfUsers() <= 1"
                (click)="PreviousUserPage()"
                class="enabled:hover:cursor-pointer enabled:hover:text-primary
              flex-1 text-center flex items-center justify-center disabled:text-accent"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
            <path fill-rule="evenodd" d="M7.28 7.72a.75.75 0 0 1 0 1.06l-2.47 2.47H21a.75.75 0 0 1 0 1.5H4.81l2.47 2.47a.75.75 0 1 1-1.06 1.06l-3.75-3.75a.75.75 0 0 1 0-1.06l3.75-3.75a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
        </button>

        <p class="font-bold"> {{currentPageOfUsers()}}/{{totalPagesOfUsers()}} </p>
        <button [disabled]="currentPageOfUsers() >= totalPagesOfUsers()"
                (click)="NextUsersPage()"
                class="enabled:hover:cursor-pointer enabled:hover:text-primary
                flex-1 text-center flex items-center justify-center disabled:text-accent"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
            <path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    }

    <!-- global notification -->
    <div class="max-w-full w-lg">
      <app-global-notification-input />
    </div>
  </div>


</div>
