<div class="relative flex justify-center w-full">
  @if(!hideArrowsOnButtons)
  {
    <button class="absolute right-8 top-1/2 bg-[#D3E0FF]/70 hover:bg-[#D3E0FF] active:bg-[#D3E0FF]/70 rounded-full p-4 transition-colors z-20" (click)="next()">
      <img ngSrc="assets/arrow_forward_icon.svg" alt="arrow forward" width="24" height="24">
    </button>
    <button class="absolute left-8 top-1/2 bg-[#D3E0FF]/70 hover:bg-[#D3E0FF] active:bg-[#D3E0FF]/70 rounded-full p-4 transition-colors z-20" (click)="prev()">
      <img ngSrc="assets/arrow_back_icon.svg" alt="arrow back" width="24" height="24">
    </button>
  }


  <div class="relative w-11/12 overflow-hidden">
    <ul #carouselTrack class="flex flex-row items-center w-full transition"
        [style.transform]="'translateX(-' + translateX + 'px)'">
      @for (item of itemsWithId(); track item.id){
        <li class="h-96 px-4 flex-shrink-0" [style.width.px]="itemWidth()">
          <ng-container *ngTemplateOutlet="templateRef; context: {$implicit: item}"/>
        </li>
      }
    </ul>
  </div>
</div>
