<button type="button" class="enabled:hover:cursor-pointer combo-selected w-full" (click)="toggleDropdown()" [disabled]="isDisabled()">
  @if (templateRef){
    <ng-container [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{ $implicit: selectedItem() }"></ng-container>
  } @else {
    <span>{{ selectedItem()?.value ?? ' ' }}</span>
  }
  <span class="arrow">{{isOpen() ? '▼' : '►' }}</span>
</button>

@if(isOpen()){
  <div class="relative w-full">
    <ul class="combo-dropdown w-full absolute">
      @for (item of items(); track item.key){
        <li class="flex items-center h-full w-full">
          <button type="button" (click)="chooseItem(item); $event.stopPropagation()" class="w-full h-full text-left p-2 ">
            @if (templateRef){
              <ng-container [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{ $implicit: item }"> </ng-container>
            } @else {
              <span>{{ item.value }}</span>
            }
          </button>
        </li>
      }
    </ul>
  </div>
}
