<form class="
    flex m-auto flex-col items-center justify-center sm:w-70 w-full max-w-70"
      [formGroup]="changePasswordForm"
      (ngSubmit)="OnPassChangeSubmit()">
  <label for="passwordOld" class="w-full">


    @if (passwordChangeSuccess()) {
      <p class="w-full h-fit text-center text-lg bg-secondary text-secondary-foreground mb-2">
        {{"user_edition.password_changed" | translate}}
      </p>
    }

    <app-scaled-text [text]="'user_edition.old_password' | translate" [step]="-1" base="text-sm" [maxGrowTimes]="2"/>
    @if(hasOldPasswordErrors()) {
      <div class="text-(--destructive)"> {{passwordErrors()[0]}} </div>
    }
  </label>
  <input class="w-full h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
         name="passwordOld" id="passwordOld" type="password" formControlName="passwordOld"
  />

  <label for="passwordR" class="w-full">
    <app-scaled-text [text]="'user_edition.new_password' | translate" [step]="-1" base="text-sm" [maxGrowTimes]="2"/>
    @if(hasPasswordErrors()) {
      <div class="text-(--destructive)"> {{passwordErrors()[0]}} </div>
    }
  </label>
  <input class="w-full h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
         name="passwordR" id="passwordR" type="password" formControlName="password"
  />

  <label for="repeat_passwordR" class="w-full">
    <app-scaled-text [text]="'user_edition.repeat_new_password' | translate" [step]="-1"
                     base="text-sm" [maxGrowTimes]="2"/>
    @if(!repeatPassMatch()) {<div class="text-(--destructive)">{{"validator_errors.pass_match"|translate}}</div>}
  </label>
  <input class="w-full h-12 sm:h-10 border-solid p-1 rounded-lg m-0 mb-2 border-(--input) text-(--muted-foreground) focus:border-(--ring) border-1"
         name="repeat_passwordR" id=repeat_passwordR type="password" formControlName="repeatPassword"
  />

  <button type="submit"
          [disabled]="changePasswordFormHasErrors()"
          class="disabled:cursor-default disabled:bg-(--primary)/40 disabled:border-0
              cursor-pointer h-15 sm:h-10 mt-3 w-full rounded-md bg-(--primary) hover:bg-(--primary)/90 border-1 text-(--primary-foreground) border-(--ring) focus:border-(--ring) text-xl md:text-2xl" >
    {{ 'user_edition.edit_password' | translate }}
  </button>
</form>
