<!-- This has to be here otherwise Tailwind won't export all needed formats in the build
<div class="absolute hidden text-xs sm:text-xs md:text-xs lg:text-xs xl:text-xs 2xl:text-xs">x</div>
<div class="absolute hidden text-sm sm:text-sm md:text-sm lg:text-sm xl:text-sm 2xl:text-sm">x</div>
<div class="absolute hidden text-base sm:text-base md:text-base lg:text-base xl:text-base 2xl:text-base">x</div>
<div class="absolute hidden text-lg sm:text-lg md:text-lg lg:text-lg xl:text-lg 2xl:text-lg">x</div>
<div class="absolute hidden text-2xl sm:text-2xl md:text-2xl lg:text-2xl xl:text-2xl 2xl:text-2xl">x</div>
<div class="absolute hidden text-3xl sm:text-3xl md:text-3xl lg:text-3xl xl:text-3xl 2xl:text-3xl">x</div>
<div class="absolute hidden text-4xl sm:text-4xl md:text-4xl lg:text-4xl xl:text-4xl 2xl:text-4xl">x</div>
<div class="absolute hidden text-5xl sm:text-5xl md:text-5xl lg:text-5xl xl:text-5xl 2xl:text-5xl">x</div>
<div class="absolute hidden text-6xl sm:text-6xl md:text-6xl lg:text-6xl xl:text-6xl 2xl:text-6xl">x</div>
<div class="absolute hidden text-7xl sm:text-7xl md:text-7xl lg:text-7xl xl:text-7xl 2xl:text-7xl">x</div>
<div class="absolute hidden text-8xl sm:text-8xl md:text-8xl lg:text-8xl xl:text-8xl 2xl:text-8xl">x</div>
<div class="absolute hidden text-9xl sm:text-9xl md:text-9xl lg:text-9xl xl:text-9xl 2xl:text-9xl">x</div>
-->

<div class="{{classList()}}">
  {{text()}}
</div>
