<form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="mb-4">{{!product() ? ('product_form.create_product' | translate) : ('product_form.edit_product' | translate)}}</h1>
  <!-- Name -->
  <div class="flex flex-col gap-2 w-full">
    <label for="name" class="text-xl font-semibold">{{ 'product_form.name' | translate }}</label>
    <input id="name" name="name" formControlName="name" type="text" required class="border rounded px-3 py-2">
    @if (form.controls.name.invalid && (form.controls.name.touched || form.controls.name.dirty)){
      <div>
        <ul class="text-destructive text-sm list-disc pl-4">
          @if(form.controls.name.hasError('required')){
            <li>{{ 'validator_errors_product_form.field_required' | translate }}</li>
          }
          @if(form.controls.name.hasError('empty')){
            <li>{{ 'validator_errors_product_form.field_empty' | translate }}</li>
          }
          @if(form.controls.name.hasError('minlength') || form.controls.name.hasError('maxlength')){
            <li>{{ 'validator_errors_product_form.name_len' | translate }}</li>
          }
        </ul>
      </div>
    }
  </div>
  <!-- Price -->
  <div class="flex flex-col gap-2 w-full">
    <label for="price" class="text-xl font-semibold">{{ 'product_form.price' | translate }}</label>
    <app-input-number id="price" formControlName="price" [min]="0" [max]="1000000" [step]="0.01"/>
    @if (form.controls.price.invalid && (form.controls.price.touched || form.controls.price.dirty)) {
      <div>
        <ul class="text-destructive text-sm list-disc pl-4">
          @if (form.controls.price.hasError('required')) {
            <li>{{ 'validator_errors_product_form.field_required' | translate }}</li>
          }
          @if (form.controls.price.hasError('min') || form.controls.price.hasError('max')) {
            <li>{{ 'validator_errors_product_form.price_range' | translate }}</li>
          }
          @if(form.controls.price.hasError('pattern')) {
            <li>{{ 'validator_errors_product_form.price_decimal' | translate }}</li>
          }
        </ul>
      </div>
    }
  </div>
  <!-- Negotiable -->
  <div class="flex items-center gap-2">
    <input id="negotiable" name="negotiable" type="checkbox"  class="w-4 h-4">
    <label for="negotiable" class="font-semibold">{{ 'product_form.negotiable' | translate }}</label>
  </div>
  <!-- Categories -->
  <div class="flex flex-col sm:flex-row gap-4 w-full">
    <div class="flex flex-col gap-2 w-full">
      <label for="mainCategory" class="text-xl font-semibold">{{ 'product_form.main_category' | translate }}</label>
      <app-combo-box formControlName="mainCategory" [items]="mainCategoriesOptions" (selectedItemChange)="selectMainCategory($event)">
        <ng-template let-item>
          <span>
            {{item?.value}}
          </span>
        </ng-template>
      </app-combo-box>
      @if (form.controls.mainCategory.invalid && (form.controls.mainCategory.touched || form.controls.mainCategory.dirty)) {
        <div>
          <ul class="text-destructive text-sm list-disc pl-4">
            @if(form.controls.mainCategory.hasError('required')) {
              <li>{{ 'validator_errors_product_form.field_required' | translate }}</li>
            }
          </ul>
        </div>
      }
    </div>
    <div class="flex flex-col gap-2 w-full">
      <label for="subcategory" class="text-xl font-semibold">{{ 'product_form.subcategory' | translate }}</label>
      <app-cascade-select formControlName="subcategory" [items]="subCategoriesOptions()" [(selectedItem)]="selectedSubCategory" (selectedItemChange)="selectSubCategory($event)">
        <ng-template #selectedItemTemplate let-item>
          <span>
            {{item?.value}}
          </span>
        </ng-template>
        <ng-template #nodeTemplate let-node>
          <span>
            {{node?.value}}
          </span>
        </ng-template>
      </app-cascade-select>
      @if (form.controls.subcategory.invalid && (form.controls.subcategory.touched || form.controls.subcategory.dirty)) {
        <div>
          <ul class="text-destructive text-sm list-disc pl-4">
            @if(form.controls.subcategory.hasError('required')) {
              <li>{{ 'validator_errors_product_form.field_required' | translate }}</li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
  <!-- Localization -->
  <div class="flex flex-col gap-2 w-full">
    <label for="localization" class="text-xl font-semibold">{{ 'product_form.localization' | translate }}</label>
    <app-geo-map-autocomplete formControlName="localization"/>
    @if (form.controls.localization.invalid && (form.controls.localization.touched || form.controls.localization.dirty)) {
      <div>
        <ul class="text-destructive text-sm list-disc pl-4">
          <li>{{ 'validator_errors_product_form.localization_required' | translate }}</li>
        </ul>
      </div>
    }
  </div>
  <!-- Images -->
  <div class="flex flex-col gap-2 w-full">
    <label for="images" class="text-xl font-semibold">{{ 'product_form.images' | translate }}</label>
    <app-media-manager formControlName="images"/>
    @if (form.controls.images.invalid && (form.controls.images.touched || form.controls.images.dirty)) {
      <div>
        <ul class="text-destructive text-sm list-disc pl-4">
          @if(form.controls.images.hasError('required')) {
            <li>{{ 'validator_errors_product_form.field_required' | translate }}</li>
          }
        </ul>
      </div>
    }
  </div>

  <!-- Description -->
  <div class="flex flex-col gap-2 w-full">
    <label for="description" class="text-xl font-semibold">{{ 'product_form.description' | translate }}</label>
    <textarea id="description" name="description" formControlName="description" rows="5" class="border rounded px-3 py-2"></textarea>
    @if (form.controls.description.invalid && (form.controls.description.touched || form.controls.description.dirty)) {
      <div>
        <ul class="text-destructive text-sm list-disc pl-4">
          @if(form.controls.description.hasError('required')) {
            <li>{{ 'validator_errors_product_form.field_required' | translate }}</li>
          }
          @if(form.controls.description.hasError('empty')){
            <li>{{ 'validator_errors_product_form.field_empty' | translate }}</li>
          }
          @if(form.controls.description.hasError('minlength') || form.controls.description.hasError('maxlength')){
            <li>{{ 'validator_errors_product_form.description_len' | translate }}</li>
          }
        </ul>
      </div>
    }
  </div>

  <!-- Actions -->
  <div class="flex flex-row flex-wrap w-full justify-between gap-4">
    <app-button type="button" severity="accent" variant="outlined" [label]="'cancel' | translate" (clickButton)="cancel()"/>

    <div class="flex flex-row flex-wrap gap-4">
      <app-button type="submit" [label]="product() ? ('edit' | translate) : ( 'create' | translate) "/>
    </div>
  </div>
</form>
